<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD-W3gTtdT_gIAdH8BtIsZ9O35CJNx9LeQ</string>
	<key>GCM_SENDER_ID</key>
	<string>66204988697</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.chandrala.Instagram-Clone</string>
	<key>PROJECT_ID</key>
	<string>instagram-80dc8</string>
	<key>STORAGE_BUCKET</key>
	<string>instagram-80dc8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:66204988697:ios:617d2f7a6bfb12e6e18188</string>
</dict>
</plist>